body {
    background-image: url('../img/trello-bg.png');
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.createColumn {
    width: 250px;
    background-color: mediumblue;
    color: white;
    height: auto;
    left: 500px;
    top: 70px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    outline: none;
    border: 5px mediumblue solid;
}

.createColumnText {
    display: block;
    font-weight: normal;
}

.createColumnText.active {
    display: block;
}

.createColumnText.remove {
    display: none;
}

.createColumnInput {
    width: 220px;
    height: 30px;
    margin: 5px auto;
    font-size: 12px;
}

.createColumnButton {
    width: 150px;
    margin-top: 10px;
    margin-left: 50px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    display: block;
}

.createColumnButton.active {
    display: block;
}

.primaryDiv {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
    width: 300px;
    height: auto;
}

.primaryHeader {
    text-align: center;
    width: 250px;
    height: 30px;
    color: black;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

.divContainer {
    width: 280px;
    height: auto;
    margin: 10px auto;
}

.itemText {
    display: block;
    text-align: center;
    width: 250px;
    height: auto;
    font: bold 16px;
    color: black;
    padding: 5px;
    border: 5px solid transparent;
    margin: 5px auto;
    border-radius: 2px;
    background-color: white;
}

.sortCards {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: normal;
}

.inputCards {
    width: 250px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    color: black;
    outline: none;
    white-space: normal;
}

.btnCardInside {
    display: block;
    width: 250px;
    height: 30px;
    margin-left: 70px;
    margin-top: 25px;
    cursor: pointer;
}