body {
    background-image: url(../hw5-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gold;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

.content {
    display: inline-block;
    width: 100%;
    height: 50%;
}

.episode-card {
    background-color: #ffffff;
    display: inline-block;
    height: auto;
    width: 300px;
    cursor: pointer;
    margin: 5px;
}

.episode-desc {
    display: inline-block;
    padding: 5px;
    margin: 3px;
    width: 100%;
}